include mixins

doctype html
html(lang='ru')
  +dev_head('Dynamica dashboard', true)
  
  body
    .page.dashboard_page
      header.page-header.navbar.navbar-default
        .container-fluid.globalwidth
          .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='.bs-navbar-collapse')
              span.icon-bar
              span.icon-bar
              span.icon-bar
            .navbar-project-switch
              a.navbar-brand(href='#') Dynamica
              span  of 
              .hover-select-box
                select.selectpicker
                  option(value='Bling-Blings') Bling-Blings
                  option(value='Apple Store') Apple Store
                  option(value='Helvetica') Helvetica
                  
                //ul.hover-select-list
                //  li.hover-select-item.active: a.projectBtn(href='#') Bling-Blings
                //  li.hover-select-item: a.projectBtn(href='#') Apple Store
                //  li.hover-select-item: a.projectBtn(href='#') Helvetica
                //i.icon.fa.fa-angle-down.hover-select-icon

          nav.collapse.navbar-collapse.bs-navbar-collapse
            ul.nav.navbar-nav
              li.active
                a(href='projects.html') Projects
              li
                a(href='#') Team
            ul.nav.navbar-right.hidden-xs
              li
                .user.dropdown
                  .arrow
                  a.user-toggle.dropdown-toggle(data-toggle='dropdown', href='#')
                    span.user-pic
                      img.img-circle(width='40', height='40', src='images/avatar1_40x40.jpg', alt='')
                    span.user-name
                      | Yaroslav Samoilov
                      i.icon.fa.fa-angle-down
                  .user-menu.dropdown-menu.right
                    ul
                      li
                        a(href='billing.html') Billing
                      li
                        a(href='profile.html') Profile
                      li
                        a(href='#') Help
                      li.clear
                        a(href='#') Log out
                        
      section.dashboard-body
        .container-fluid.globalwidth
          section.dashboard.projects-dashboard
            .row
              .col-sm-12
                ul.dashboard-panel
                  li: a.dashboard-panel-link.current(href='#') Overview
                  li 
                    .hover-select-box.filter-mod
                      select.selectpicker.filterSelect
                        //option(value=-1 data-hidden="true")
                        option(value='Finance') Finance
                        option(value='Gross Revenue') Gross Revenue
                        option(value='Avg. order') Avg. order  
                        option(value='Avg. revenue per customer') Avg. revenue per customer
                        option(value='Sales per visitor') Sales per visitor 
                        option(value='Avg. Customer Lifetime Value') Avg. Customer Lifetime Value
                        option(value='Shipping cost as a percentage of total revenue') Shipping cost as a percentage of total revenue
                      
                  li 
                    .hover-select-box.filter-mod
                      select.selectpicker.filterSelect
                        //option(value=-1 data-hidden="true")
                        option(value='Customers') Customers
                        option(value='Gross Revenue') Gross Revenue
                        option(value='Avg. order') Avg. order  
                        option(value='Avg. revenue per customer') Avg. revenue per customer
                        option(value='Sales per visitor') Sales per visitor 
                        option(value='Avg. Customer Lifetime Value') Avg. Customer Lifetime Value
                        option(value='Shipping cost as a percentage of total revenue') Shipping cost as a percentage of total revenue
                      
                  li 
                    .hover-select-box.filter-mod
                      select.selectpicker.filterSelect
                        //option(value=-1 data-hidden="true")
                        option(value='Products') Products
                        option(value='Gross Revenue') Gross Revenue
                        option(value='Avg. order') Avg. order  
                        option(value='Avg. revenue per customer') Avg. revenue per customer
                        option(value='Sales per visitor') Sales per visitor 
                        option(value='Avg. Customer Lifetime Value') Avg. Customer Lifetime Value
                        option(value='Shipping cost as a percentage of total revenue') Shipping cost as a percentage of total revenue
                      
                      
            .row.dashboard-title-row
              .col-sm-6: h2 Bling-Blings Dashboard
              .col-sm-6
                .pull-right.datepicker-v1.datepickerComponent
                  .pull-left.datepicker-parent
                    input.form-control.datePicker.form-control-small(type='text')
                    //-.input-group.input-daterange.datePickerRange.input-daterange-v1
                      input.form-control(type='text', name='start' value='2012-04-05')
                      span.input-group-addon &#8212;
                      input.form-control(type='text', name='end' value='2012-04-19')

                  .pull-left
                    select.selectpicker.graphFilterDate
                      option(value=-1 data-hidden="true") 
                      option(value=0 selected) Current month
                      option(value=1) Previous month 
                      option(value=2) Last 3 month 
                      option(value=3) Last 6 month 
                      option(value=4) Last year 
                      option(value=5) All time 
                 
            .graph-unit
              .graph-unit-large
                h5.graph-name Current status of your primary data
                .graph-filters.graph-filter-v1
                  div(class="btn-group" role="group")
                    input#graph_filter_1(type='radio' hidden name='graph_filter' checked)
                    label(type="button" for='graph_filter_1' class="btn btn-default first") Day
                    input#graph_filter_2(type='radio' hidden name='graph_filter')
                    label(type="button" for='graph_filter_2' class="btn btn-default") Week
                    input#graph_filter_3(type='radio' hidden name='graph_filter')
                    label(type="button" for='graph_filter_3' class="btn btn-default last") Month
                  
                .graph-block
                  .graph_3.areaChartFamily_1.d3graph.hide_x_axis
                    #tooltip.graph-tooltip-holder.hidden_
                      #tooltip_content.graph-tooltip
                      
            .dashboard-caption
                h3.caption-text Finance overview
                i.icon.fa.fa-angle-right
                
            .row
              +loop_while(4)
                .col-lg-3.col-md-4.col-sm-6
                  .graph-unit
                    a.graph-u-link(href='total_revenu.html')
                    h5.graph-name Gross Revenue
                    .graph-value 
                      span.val $4,490
                      sup.graph-dynamica.dynamica_up +8%
                    .graph-block
                       .graph_2.lineAreaChart_1.d3graph.hide_x_axis

            .dashboard-caption
                h3.caption-text Customers overview
                i.icon.fa.fa-angle-right
                
            .row
              +loop_while(2)
                .col-lg-3.col-md-4.col-sm-6
                  .graph-unit
                    a.graph-u-link(href='total_revenu.html')
                    h5.graph-name Gross Revenue
                    .graph-value 
                      span.val $4,490
                      sup.graph-dynamica.dynamica_up +8%
                    .graph-block
                       .graph_2.areaChart_1.d3graph.hide_x_axis
                                      
              .col-lg-3.col-md-4.col-sm-6
                .graph-unit
                  a.graph-u-link(href='total_revenu.html')
                  h5.graph-name New & repeat customers
                  .graph-value 
                    span.val 3.2
                    sup.graph-dynamica.dynamica_up +8%
                  .graph-block
                     .graph_1.donutChart_1.d3graph.hide_x_axis
                         
              .col-lg-3.col-md-4.col-sm-6
                .graph-unit
                  a.graph-u-link(href='total_revenu.html')
                  h5.graph-name Gross Revenue
                  .graph-value 
                    span.val $4,490
                    sup.graph-dynamica.dynamica_up +8%
                  .graph-block
                     .graph_2.areaChart_2.d3graph.hide_x_axis
                       
              
            .dashboard-caption
                h3.caption-text Products overview
                i.icon.fa.fa-angle-right
                
            .row
              +loop_while(4)
                .col-lg-3.col-md-4.col-sm-6
                  .graph-unit
                    a.graph-u-link(href='total_revenu.html')
                    h5.graph-name Gross Revenue
                    .graph-value
                      span.val $4,490
                      sup.graph-dynamica.dynamica_up +8%
                    .graph-block
                      .graph_2.lineAreaChart_1.d3graph.hide_x_axis