mixin dev_head(page_title, dashboard, total_revenu)
    head
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(charset='utf-8')
        meta(name='keywords', content='')
        meta(name='description', content='')
        title=page_title 
        link(rel='shortcut icon', type='image/x-icon', href='img/favicon.ico')
        link(rel='stylesheet', href='css/style.css')
        | 
        | <!--[if lt IE 9]>
        |       <script type="text/javascript" src="js/vendor/html5shiv.js"></script>
        | <![endif]-->
        script(type='text/javascript', src='js/vendor/jquery.min.js')
        script(type='text/javascript', src='js/vendor/jquery.placeholder.min.js')
        script(type='text/javascript', src='js/vendor/bootstrap.min.js')
        script(type='text/javascript', src='js/vendor/d3.min.js')
        script(type='text/javascript', src='js/vendor/bootstrap-select.min.js')
        script(type='text/javascript', src='js/vendor/moment.min.js')
        script(type='text/javascript', src='js/vendor/bootstrap-datepicker.js')
        script(type='text/javascript', src='js/script.js')
        - if (dashboard)
            script(type='text/javascript', src='js/dashboard_script.js')
        - if (total_revenu)
            script(type='text/javascript', src='js/total_revenu_script.js')
            
mixin loop_while(counter)
    -i=0;
    while i < counter
        -i++;
        block

mixin dashboard_panel()
    ul.dashboard-panel
        li.current: a.dashboard-panel-link(href='#') Overview
        li.filter-holder
            .hover-select-box.filter-mod
                select.selectpicker.filterSelect
                    option(value=-1 data-hidden="true")
                    option(value='Gross Revenue') Gross Revenue
                    option(value='Avg. order') Avg. order  
                    option(value='Avg. revenue per customer') Avg. revenue per customer
                    option(value='Sales per visitor') Sales per visitor 
                    option(value='Avg. Customer Lifetime Value') Avg. Customer Lifetime Value
                    option(value='Shipping cost as a percentage of total revenue') Shipping cost as a percentage of total revenue
            a.dashboard-panel-link(href='#') Finance

        li.filter-holder
            .hover-select-box.filter-mod
                select.selectpicker.filterSelect
                    option(value=-1 data-hidden="true")
                    option(value='Gross Revenue') Gross Revenue
                    option(value='Avg. order') Avg. order  
                    option(value='Avg. revenue per customer') Avg. revenue per customer
                    option(value='Sales per visitor') Sales per visitor 
                    option(value='Avg. Customer Lifetime Value') Avg. Customer Lifetime Value
                    option(value='Shipping cost as a percentage of total revenue') Shipping cost as a percentage of total revenue
            a.dashboard-panel-link(href='#') Customers

        li.filter-holder
            .hover-select-box.filter-mod
                select.selectpicker.filterSelect
                    option(value=-1 data-hidden="true")
                    option(value='Gross Revenue') Gross Revenue
                    option(value='Avg. order') Avg. order  
                    option(value='Avg. revenue per customer') Avg. revenue per customer
                    option(value='Sales per visitor') Sales per visitor 
                    option(value='Avg. Customer Lifetime Value') Avg. Customer Lifetime Value
                    option(value='Shipping cost as a percentage of total revenue') Shipping cost as a percentage of total revenue
            a.dashboard-panel-link(href='#') Products
            