include mixins

doctype html
html(lang='ru')
  +dev_head('Dynamica total revenu', false, true)
  
  body
    .page.dashboard_page
      header.page-header.navbar.navbar-default
        .container-fluid.globalwidth
          .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='.bs-navbar-collapse')
              span.icon-bar
              span.icon-bar
              span.icon-bar
            .navbar-project-switch
              a.navbar-brand(href='#') Dynamica
              span  of 
              .hover-select-box
                select.selectpicker
                  option(value='Bling-Blings') Bling-Blings
                  option(value='Apple Store') Apple Store
                  option(value='Helvetica') Helvetica
                  
          nav.collapse.navbar-collapse.bs-navbar-collapse
            ul.nav.navbar-nav
              li.active
                a(href='projects.html') Projects
              li
                a(href='#') Team
            ul.nav.navbar-right.hidden-xs
              li
                .user.dropdown
                  .arrow
                  a.user-toggle.dropdown-toggle(data-toggle='dropdown', href='#')
                    span.user-pic
                      img.img-circle(width='40', height='40', src='images/avatar1_40x40.jpg', alt='')
                    span.user-name
                      | Yaroslav Samoilov
                      i.icon.fa.fa-angle-down
                  .user-menu.dropdown-menu.right
                    ul
                      li
                        a(href='billing.html') Billing
                      li
                        a(href='profile.html') Profile
                      li
                        a(href='#') Help
                      li.clear
                        a(href='#') Log out
                        
      section.dashboard-body
        .container-fluid.globalwidth
          section.dashboard.projects-dashboard
            .row
              .col-sm-12
                ul.dashboard-panel
                  li: a.dashboard-panel-link.current(href='#') Overview
                  li 
                    .hover-select-box.filter-mod
                      select.selectpicker.filterSelect
                        //option(value=-1 data-hidden="true")
                        option(value='Finance') Finance
                        option(value='Gross Revenue') Gross Revenue
                        option(value='Avg. order') Avg. order  
                        option(value='Avg. revenue per customer') Avg. revenue per customer
                        option(value='Sales per visitor') Sales per visitor 
                        option(value='Avg. Customer Lifetime Value') Avg. Customer Lifetime Value
                        option(value='Shipping cost as a percentage of total revenue') Shipping cost as a percentage of total revenue
                      
                  li 
                    .hover-select-box.filter-mod
                      select.selectpicker.filterSelect
                        //option(value=-1 data-hidden="true")
                        option(value='Customers') Customers
                        option(value='Gross Revenue') Gross Revenue
                        option(value='Avg. order') Avg. order  
                        option(value='Avg. revenue per customer') Avg. revenue per customer
                        option(value='Sales per visitor') Sales per visitor 
                        option(value='Avg. Customer Lifetime Value') Avg. Customer Lifetime Value
                        option(value='Shipping cost as a percentage of total revenue') Shipping cost as a percentage of total revenue
                      
                  li 
                    .hover-select-box.filter-mod
                      select.selectpicker.filterSelect
                        //option(value=-1 data-hidden="true")
                        option(value='Products') Products
                        option(value='Gross Revenue') Gross Revenue
                        option(value='Avg. order') Avg. order  
                        option(value='Avg. revenue per customer') Avg. revenue per customer
                        option(value='Sales per visitor') Sales per visitor 
                        option(value='Avg. Customer Lifetime Value') Avg. Customer Lifetime Value
                        option(value='Shipping cost as a percentage of total revenue') Shipping cost as a percentage of total revenue
                      
                      
            .row.dashboard-title-row
              .col-sm-6: h2 Monthly Total Revenue
              .col-sm-6
                .pull-right.datepicker-v1.datepickerComponent
                  .pull-left.datepicker-parent
                    input.form-control.datePicker.form-control-small(type='text')
                    
                  .pull-left
                    select.selectpicker.graphFilterDate
                      option(value=-1 data-hidden="true") 
                      option(value=0 selected) Current month
                      option(value=1) Previous month 
                      option(value=2) Last 3 month 
                      option(value=3) Last 6 month 
                      option(value=4) Last year 
                      option(value=5) All time 
                 
            .graph-unit
              .graph-value
                span.val 42,489$
                sup.graph-dynamica.dynamica_up +8%
              .graph-unit-large-v2
                .graph-block.areaChartTotal_1.d3graph.hide_y_axis.hide_x_axis

            .graph-unit-info
              .graph-unit-info-table.scrollParent
                .table-header
                  .table-cell.col_1 Date
                  .table-cell.col_2 Orders
                  .table-cell.col_3 Product sold
                  .table-cell.col_4 Day Revenue 
                .table-footer.scrollBottomFixed
                  .table-cell.col_1 Total
                  .table-cell.col_2 448
                  .table-cell.col_3 31
                  .table-cell.col_4 5,876$
                +loop_while(9)
                  .table-row
                    .table-cell.col_1 21 feb, 2016
                    .table-cell.col_2 3
                    .table-cell.col_3 9
                    .table-cell.col_4 130$