@import "select2";

%clearfix {
  &::after {
    position: static;
    display: block;
    height: 0;
    clear: both;
    content: "";
    visibility: hidden;
  }
}

.dashboard_page {
  .globalwidth {
    max-width: 1280px;
  }
}

.dashboard-body {
  padding: 18px 0;
}

.dashboard {

  h2 {
    font-weight: 300;
  }
}

.hover-select-box {
  height: 40px;
  position: relative;
  z-index: 1;

  &.opened {
    z-index: 2;
  }

  .hover-select-icon {
    z-index: 1;
    position: absolute;
    right: 4px;
    top: 50%;
    font-size: 17px;
    margin-top: -6px;
    color: #9e9e9e;
    pointer-events: none;
  }

  &:hover .hover-select-icon {
    color: #2f2f2f;
  }

  .dropdown-menu {
    margin: -6px -14px 0 -14px;
    border-radius: 10px;
    padding-top: 45px;
    box-shadow: 0 6px 14px rgba(0, 0, 0, .28);

    li {
      font-size: 14px;

      a {
        padding-right: 45px;

        &:hover {
          background: none;
          color: #ff6140;
        }
      }

      &.selected {
        background-color: transparent !important;
        position: absolute;
        top: 0;
        left: 0;

        a {
          cursor: default;
          padding: 13px 15px 7px 19px;
          font-size: 15px;
          background: none;
          position: relative;
          display: block;
          color: #51545c !important;

          &:before {
            @extend .fa;
            @extend .fa-angle-down;
            @extend .hover-select-icon;
            right: -4px;
            margin-top: -5px;
          }
        }
      }
    }
  }

  .bootstrap-select {
    width: auto !important;
    z-index: 1;

    > .btn {
      border: none;
      padding: 7px 15px 7px 5px;
      font-size: 15px;
      color: #2f2f2f;
      background-color: transparent !important;

      .caret {
        @extend .fa;
        @extend .fa-angle-down;
        @extend .hover-select-icon;
        border: none !important;
        right: 11px;
        margin-top: -8px;
      }

    }

    &.open {
      z-index: 10;
    }

  }

  .dropdown-menu {
    top: 0;
  }

  &.filter-mod {
    .dropdown-menu {
      padding-top: 55px;

      &:before {
        content: '';
        position: absolute;
        top: 48px;
        right: 20px;
        left: 20px;
        border-top: 1px solid #d9d9d9;
      }

      li:not(.selected) {
        a {
          padding-right: 30px;
          line-height: 1;
        }
      }
    }
  }

}

.hover-select-list {
  padding: 40px 22px 12px 0;
  position: relative;
  border-radius: 10px;
  margin: -3px -15px;
  pointer-events: none;

  &:hover {
    box-shadow: 0 6px 14px rgba(0, 0, 0, .28);
    background: #fff;

    .hover-select-item {
      pointer-events: all;
      opacity: 1;
    }
  }

  .hover-select-box:hover {
    pointer-events: all;
  }

}

.hover-select-item {
  position: relative;
  margin-right: -22px;
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  a {
    display: block;
    padding: 7px 42px 7px 20px;
    color: #8e8e8e;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 16px;

    &:hover {
      color: #2f2f2f;
    }

    &.current {
      color: #ff6140;
      cursor: default;
    }
  }

  &.active {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 8px;
    padding-right: 22px;
    max-width: 100%;
    pointer-events: all;
    opacity: 1;

    a {
      color: #2f2f2f;
      font-size: 15px;
      line-height: 18px;
    }

  }

}

.dashboard-title-row {
  padding: 0 20px;
}

.dashboard-panel {
  @extend %clearfix;
  line-height: 40px;
  margin-left: -5px;
  margin-bottom: 25px;

  > li {
    float: left;
    padding-left: 25px;
  }
}

.dashboard-panel-link {
  display: inline-block;
  vertical-align: middle;
  color: #34373b;
  font-size: 15px;
  line-height: 30px;
  border-bottom: 2px solid transparent;

  &.current {
    border-bottom-color: #000;
  }

  &:hover {
    color: #333;
  }
}

.dashboard-caption {
  font-size: 18px;
  padding-left: 20px;
}

.caption-text {
  display: inline-block;
  margin-right: 15px;
  font-weight: 400;
  font-size: 22px;
  letter-spacing: -.13px;
}

.graph-unit {
  position: relative;
  border-radius: 10px;
  min-height: 277px;
  padding: 20px;
  margin-bottom: 30px;
  background: #fff;
  overflow: hidden;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .15);

}

.graph-unit-large {
  height: 282px;
  margin: -20px -20px 0;
  padding: 20px 20px;
  overflow: hidden;
  position: relative;
  background: #323847;
  line-height: 34px;

  .graph-name {
    float: left;
    position: relative;
    z-index: 1;
    color: #fff;
    letter-spacing: 0;
  }

  .graph-filters {
    float: right;
    position: relative;
    z-index: 1;
  }
}

.graph-filter-v1 {

  .btn {
    border-radius: 4px;
    background: none;
    color: #fff;
    font-size: 15px;
  }
}

.graph-name {
  color: #636363;
  letter-spacing: -.25px;
  margin-bottom: 3px;
}

.graph-value {
  color: #1f1f1f;

  .val {
    font-size: 30px;
    font-weight: 300;
  }
}

.graph-dynamica {
  font-size: 14px;
  top: -1.15em;
  padding-left: .5em;

  &.dynamica_up {
    color: #1b9a3d;
  }

  &.dynamica_down {
    color: #f32e21;
  }
}

.graph-block {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.graph_1 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 160px;
  height: 160px;
}

.graph_2 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 180px;
}

.legend_v1 {
  position: absolute;
  bottom: 10px;
  right: 20px;
  width: 70px;
}

.graph-unit-legend {
  margin: 23px 0 0;

  .legend_item {
    float: left;
    min-width: 30%;
    padding-left: 5px;

    .legend_name {
      margin-bottom: 3px;
      font-size: 16px;

      &:after {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        left: 10px;
      }
    }
  }
}

@media (min-width: 768px) {

  .graph-unit-legend {
    display: table;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    margin: 23px 0 0;

    .legend_item {
      margin: 0;
      display: table-cell;
      min-width: 0;
      float: none;
      padding-left: 20px;
      border-left: 1px solid #d8d8d8;

      &:first-child {
        border-left: none;
        padding-left: 0;
      }
    }
  }
}

.legend_item {
  position: relative;
  padding-left: 12px;
  margin-top: 32px;

}

.legend_name {
  font-size: 14px;
  line-height: 1;
  position: relative;

  &:after {
    content: '\00B7';
    position: absolute;
    top: -1px;
    left: -21px;
    font-size: 40px;
    line-height: 14px;
  }

  span {
    color: #696969;
  }

}

.legend_val {
  color: #1f1f1f;
  font-size: 30px;
  font-weight: 300;
  white-space: nowrap;
}

.d3graph {
  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  .x.axis path {
    display: none;
  }

  .line {
    fill: none;
    stroke: #3e6cfe;
    stroke-width: 1.5px;
  }

  .area_v1 {
    fill: lightsteelblue;
    stroke-width: 0;
  }

  .mark {
    fill: #3e6cfe;
    stroke: #fff;
    stroke-width: 2px;
  }
}
